li {
    border: 1px solid black;
    border-radius: 5px;
    list-style: none;
    width: 250px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

img {
    width: 90px;
}